body {
    background-color: #767676;
    margin-right: 150px;
    margin-left: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}