body {
    background-color: #FFFFFF;
    margin-right: 150px;
    margin-left: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

a {
    display: block;
    padding: 0px;
    background-color: #FFFFFF;
}